<!doctype html>  
<html lang="en" ng-App="utApp">  
    <head>
	<title>Vlocity Code Quality Check Tool</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.1/angular-route.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.1/angular-material.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.3.3/ui-bootstrap-tpls.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<style>
#process {padding-top:50px;height:700px;max-height:900px;color: #fff;white-space: nowrap; background-color: #000;}
#Handshake {padding-top:50px;height:900px;max-height:900px;color: #fff;white-space: nowrap; background-color: #009688;}
#Object {padding-top:50px;height:1200px;max-height:1200px;color: #fff;white-space: nowrap; background-color: #6762a6;}
#JIRA {padding-top:50px;height:900px;max-height:900px;color: #fff;white-space: nowrap; background-color: #000;}
.btn-bs-file{
position: relative;
    overflow: hidden;
}
.btn-bs-file input[type="file"]{
position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    cursor: inherit;
    display: block;
}
.error{
  color: tomato; 
  font-size: 16px; 
  font-weight:bold;
  padding-top: 4px
}

.filedwnd a,
.filedwnd a:hover,
.filedwnd a:focus {
    color: #fff;
	text-decoration:none;
}
</style>
    </head>
    <body ng-controller="utController" data-spy="scroll" data-target=".navbar"  data-offset="50">
<nav class="navbar navbar-inverse  navbar-fixed-top ">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" >
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#process">Code Quality Checker</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#process">Home</a></li>
        <li><a href="#Handshake">Handshake <span class="glyphicon  btn-success " ng-show="handshakesuccess">&#xe013;</span></a> </li>
        <li><a href="#Object">Object<span class="glyphicon  btn-success " ng-show="objectsuccess">&#xe013;</span></a></li>
		<li><a href="#JIRA"><span class="glyphicon  btn-success " ng-show="showjiraSuccess">&#xe013;</span>JIRA</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> {{username}}</a></li>
      </ul>
    </div>
  </div>
</nav>
<div id="process">
        <h1 class="container">Vlocity Code Quality TOOL</h1>
		<div class="container">
		FLow of execution is done in three in 3 steps.
		<br/>
		<p>1. Handshake : We will be establishing connection to salesforce org using connected App</p>
		<p>2. Object Details : Based on the object Details provided we will be executing unit testing check<p>
		<p>3. JIRA Status: If there are no error during execution we will update JIRA Status <p>
<br/>
		<p> Real Time overview of execution status is provided through checkbox for viewing logs. After after Successful step, a tick mark is appended at navigation bar.</p>
		<p>The object Details capturing can further be enhanced for multiple objects at one-time.</p>
		
		</div>
		<div class="form-check container">
    <input type="checkbox" class="filled-in form-check-input" id="checkbox104"  ng-model="showprocess" >
    <label class="form-check-label" for="checkbox104">Continue with Process</label>
</div>

        <div class="col-xs-17 container" ng-show="onxtstep">
        <div class="text-right">
            <a href="https://login.salesforce.com/services/oauth2/authorize?response_type=token&client_id=3MVG9d8..z.hDcPKdqHysj9lge809YseEnJ14C_mrrYwcqoDvthhTsUbHDufAAsprqHyOvSlBDqG4r87Y9ZqN&redirect_uri=https%3A%2F%2Fvlocity-codequality-checker.herokuapp.com%2Findex%23Handshake&state=mystate"><button type="button" class="btn btn-danger"   >Connect To Salesforce</button></a>
        </div>
		<br/>
    </div>
</div>

<div id="Handshake" class="container-fluid">
<h1 class="container"> Step 1 : Handshake </h1>
<form class="form-horizontal" class="form-inline" role="form" name="handform" ng-show="showprocess">
<div class="form-group">
		<label for="instance_url" class="col-sm-3 control-label">Verify Instance</label>
				<div class="form-group">
            
            <div class="col-sm-4">
                <input type="text" id="instance_url" class="form-control" ng-model="SFDCOrgData.instance_url" name="envusername" />
            </div>
            <div class="col-sm-3"></div>

        </div>
				<div class="col-sm-3"></div>
		</div>
<!--<div class="form-group">
		<label for="Upload Type" class="col-sm-3 control-label">Upload Type</label>
				<div class="col-sm-4">
				 <select class="form-control" ng-model="upldtype" ng-options="x for x in ['Upload','Formfilling']" required>
				 <option value="">Select Type</option> 
					</select>
				</div>
				<div class="col-sm-3"></div>
		</div>-->

		<!--<div ng-show="upldtype=='Formfilling'">-->
		<!--<div class="form-group">
            <label for="username" class="col-sm-3 control-label">Org Username</label>
            <div class="col-sm-4">
                <input type="text" id="firstName" class="form-control" ng-model="details.username" name="envusername"required="true"/>
				<!--<div ng-show="handform.email.$error.email" class="error">Invalid Username!</div>
                <div ng-show="handform.envusername.$error.required &amp;&amp; handform.envusername.$touched" class="error">Required!</div>
            </div>
            <div class="col-sm-3"></div>

        </div>-->
       <!-- <div class="form-group">
            <label for="Password" class="col-sm-3 control-label">Password</label>
            <div class="col-sm-4">
                <input type="password" id="Password" class="form-control" ng-model="details.password" name="envpassword"required="true" />
				<div ng-show="handform.envpassword.$error.required &amp;&amp; handform.envpassword.$touched" class="error">Required!</div>
            </div>
            <div class="col-sm-3"></div>
        </div>-->
		<!--<div class="form-group">
            <label for="clientid" class="col-sm-3 control-label">Client ID</label>
            <div class="col-sm-4">
                <input type="text" id="clientid" class="form-control" ng-model="details.clientid" name="envclientid"required="true"/>
				<div ng-show="handform.envclientid.$error.required &amp;&amp; handform.envclientid.$touched" class="error">Required!</div>
            </div>
            <div class="col-sm-3"></div>
        </div>-->
		<!--<div class="form-group">
            <label for="secret" class="col-sm-3 control-label">Client secret</label>
            <div class="col-sm-4">
                <input type="text" id="secret" class="form-control" ng-model="details.clientsecret" name="envclientsecret" required="true" />
				<div ng-show="handform.envclientsecret.$error.required &amp;&amp; handform.envclientsecret.$touched" class="error">Required!</div>
            </div>
            <div class="col-sm-3"></div>
        </div>-->
		<!--<div class="form-group">
            <label for="Upload Type" class="col-sm-3 control-label">Environment</label>
				<div class="col-sm-4">
				 <select class="form-control" ng-model="details.env" name="envtype" ng-options="x for x in ['Production','Sandbox']" required>
				 <option value="">Select Type</option> 
					</select>
					<div ng-show="handform.envtype.$error.required &amp;&amp; handform.envtype.$touched" class="error">Required!</div>
				</div>
				<div class="col-sm-3"></div>
        </div>
		</div>-->
	
		<!--<div ng-show="upldtype=='Upload'">
		<div class="form-group">
		<label for="Type" class="col-sm-3 control-label">Details</label>
				<div class="col-sm-7 row-sm-5">
				 <pre>{{ fileContent }}</pre>
				</div>
		</div>
		<div class="form-group">
		<label for="Type" class="col-sm-3 control-label"></label>
				<div class="col-sm-7 row-sm-5">
				 <div class="btn-bs-file btn btn-lg btn-danger">
                <span>Choose file</span>
                <input type="file" id="myFileInput" class="btn" ng-model="inptfile" name="envinputfile" onchange="angular.element(this).scope().submit()" />
            </div>
				</div>
		</div>

      </div>-->
	  <div class="row">
    <div class="col-xs-11">
        <div class="text-right">
            <button type="button" class="btn btn-danger" ng-click="captureddetails()" ng-disabled="(SFDCOrgData ==null)">Continue</button>
        </div>
    </div>
</div>
</form>
<div ng-show="!showprocess"><h2 class="container">Read Info and select Checkbox</h2></div>
<div ng-show="showhandshakeprogress">
			<div class="container">
		<h2>Salesforce Org Connection Status</h2>
		<div class="progress">
		<div class="progress-bar" role="progressbar" aria-valuenow="{{value}}" aria-valuemin="0" aria-valuemax="100" style="width:{{value}}%">
		  {{value}}% Complete
		</div>

		</div>
		<div class="form-check">
    <input type="checkbox" class="filled-in form-check-input" id="checkbox101"  ng-model="showsfdcconlog">
    <label class="form-check-label" for="checkbox101">Show Logs</label>
</div>
<div  ng-show="showsfdcconlog">

				 <pre style="height: 15pc; overflow-y: scroll;" id="sfdccons" ></pre>
		</div>
		<div class="col-xs-17" ng-show="hnxtstep">
        <div class="text-right">
            <a href="#Object"><button type="button" class="btn btn-danger" ng-click="objectnextstep()" ng-disabled="(value!=100)" >Next Step</button></a>
        </div>
		<br/>
    </div>
		</div>
		
		</div>
</div>  

<div id="Object" class="container-fluid">
<h1 class="container"> Step 2 : Object Details </h1>
<div ng-show="(value==100)">
<form class="form-horizontal" class="form-inline" role="form" name="objectform">

<div class="form-group">
		<label for="Type" class="col-sm-3 control-label">Type</label>
				<div class="col-sm-4">
				 <select class="form-control" ng-model="obj.selectedName" ng-options="x for x in names" required>
				 <option value="">Select Type</option> 
					</select>
				</div>
				<div class="col-sm-3"></div>
		</div>
		<div class="form-group">
		<label for="Type" class="col-sm-3 control-label">Object Name</label>
				<div class="col-sm-4">
				 <input type="name" id="objname" class="form-control" ng-model="obj.objname"  required="true"/>
				</div>
				<div class="col-sm-3"></div>
		</div>
		<div class="col-xs-11">
        <div class="text-right">
            <button type="button" class="btn btn-danger" ng-click="capturedobj()"  >Execute</button>
        </div>
    </div>
		<br/><br/>
</form>
<div class="container">
<div class="form-check">
    <input type="checkbox" class="filled-in form-check-input" id="checkbox102"  ng-model="showobjectconlog">
    <label class="form-check-label" for="checkbox102">Show Logs</label>
</div>


<div  ng-show="showobjectconlog">

				 <pre style="height: 15pc; overflow-y: scroll;" id="objjobscons"></pre>
    <div class="btn btn-danger filedwnd" ng-click="filedownloadcheck()"><a   ng-href="{{ fileUrl }}" download="logs.html">Download Log File</a></div>

		</div>

	<div class="form-check">
    <input type="checkbox" class="filled-in form-check-input" id="checkbox103"  ng-model="showobjectconlogerr">
    <label class="form-check-label" for="checkbox103">Error Logs</label>
</div>
<div  ng-show="showobjectconlogerr">

				 <pre style="height: 8pc; overflow-y: scroll;">{{ objjobsconerr }}</pre>
		</div>
<div class="form-check">
    <input type="checkbox" class="filled-in form-check-input" id="checkbox104"  ng-model="showobjectconlogwar">
    <label class="form-check-label" for="checkbox104">Warning Logs</label>
</div>
<div  ng-show="showobjectconlogwar">

				 <pre style="height: 8pc; overflow-y: scroll;">{{ objjobsconwar }}</pre>
		</div>
<div class="col-xs-17" ng-show="onxtstep">
        <div class="text-right">
            <a href="#JIRA"><button type="button" class="btn btn-danger" ng-click="jiranextstep()"  >Next Step</button></a>
        </div>
		<br/>
    </div>
</div>
</div>
<div ng-show="(value!=100)">
<h2 class="container"> Please Complete Step 1 First</h2>
</div>
</div>

<div id="JIRA" class="container-fluid">
<h1 class="container"> Step 3 : JIRA  </h1>
<div ng-show="objectsuccess">
<form class="form-horizontal" class="form-inline" role="form" name="jiraform">

<div class="form-group">
            <label for="username" class="col-sm-3 control-label">Org Username</label>
            <div class="col-sm-4">
                <input type="text" id="jirausname" class="form-control" ng-model="jra.jirausname" name="jirausername"required="true"/>
				<!--<div ng-show="handform.email.$error.email" class="error">Invalid Username!</div>-->
                <div ng-show="jiraform.jirausername.$error.required &amp;&amp; jiraform.jirausername.$touched" class="error">Required!</div>
            </div>
            <div class="col-sm-3"></div>

        </div>
        <div class="form-group">
            <label for="Password" class="col-sm-3 control-label">Password</label>
            <div class="col-sm-4">
                <input type="password" id="jirapsswrd" class="form-control" ng-model="jra.jirapsswrd" name="jirapassword"required="true" />
				<div ng-show="jiraform.jirapassword.$error.required &amp;&amp; jiraform.jirapassword.$touched" class="error">Required!</div>
            </div>
            <div class="col-sm-3"></div>
        </div>
		<div class="form-group">
            <label for="clientid" class="col-sm-3 control-label">Issue ID</label>
            <div class="col-sm-4">
                <input type="text" id="issueid" class="form-control" ng-model="jra.issueid" name="jiraissueid"required="true"/>
				<div ng-show="jiraform.jiraissueid.$error.required &amp;&amp; jiraform.jiraissueid.$touched" class="error">Required!</div>
            </div>
            <div class="col-sm-3"></div>
        </div>
		<div class="form-group">
            <label for="clientid" class="col-sm-3 control-label">Transition ID</label>
            <div class="col-sm-4">
                <input type="text" id="jiraid" class="form-control" ng-model="jra.id" name="jiraid"required="true"/>
				<div ng-show="jiraform.jiraid.$error.required &amp;&amp; jiraform.jiraid.$touched" class="error">Required!</div>
            </div>
            <div class="col-sm-3"></div>
        </div>
		<div class="form-group">
            <label for="secret" class="col-sm-3 control-label">Domain</label>
            <div class="col-sm-4">
                <input type="text" id="jiradomain" class="form-control" ng-model="jra.domain" name="jiradomain" required="true" />
				<div ng-show="jiraform.jiradomain.$error.required &amp;&amp; jiraform.jiradomain.$touched" class="error">Required!</div>
            </div>
            <div class="col-sm-3"></div>
        </div>
		<div class="col-xs-11">
        <div class="text-right">
            <button type="button" class="btn btn-danger" ng-click="capturedjira()" >Execute</button>
        </div>
    </div>
		<br/><br/>
	<div class="col-md-12">
              <div ng-show="showjiraError" class="alert alert-danger">JIRA Status Updation Failed {{jiraerror}}</div>
              <div ng-show="showjiraSuccess" class="alert alert-success">JIRA Status Updated</div>
            </div>
</form>

</div>
<div ng-show="!objectsuccess">
<h2 class="container"> Please Complete Step 2 First</h2>
</div>
</div>

  <script src="/socket.io/socket.io.js"></script>
   
		<script>  
	'use strict';	
		var app = angular.module('utApp', ['ui.bootstrap','ngRoute']);
		app.factory('socket', ['$rootScope', function($rootScope) {
  var socket = io.connect();

  return {
    on: function(eventName, callback){
      socket.on(eventName, callback);
    },
    emit: function(eventName, data) {
      socket.emit(eventName, data);
    }
  };
}]);
app.config(['$compileProvider', function ($compileProvider) {
    $compileProvider.aHrefSanitizationWhitelist(/^\s*(|blob|):/);
}]);
app.controller('utController', function($scope,$http, socket,$window) {
if (window.location.hash) {
	var message = decodeURIComponent(window.location.hash.substr(1)),
	params = message.split('&'),
	response = {};
	params.forEach(function (param) {
		var splitter = param.split('=');
		response[splitter[0]] = splitter[1];
	});
	console.log(response); //POST request to be made
	$scope.SFDCOrgData = response;
	window.location.href = "#Handshake";
}
$scope.handshakesuccess=false;
$scope.showsfdcconlog=true;
$scope.showobjectconlog=true;
$scope.sfdccon='';
$scope.objjobscon='';
$scope.objjobsconerr='';
$scope.hnxtstep=false;
$scope.onxtstep=true;
$scope.objectsuccess=false;
$scope.showobjectconlogerr=false;
$scope.upldtype='Upload';
$scope.showprocess=false;
  $scope.details={};
$scope.obj={};
$scope.jiraerror='';
$scope.jirasuccess='';
$scope.showjiraError=false;
$scope.showjiraSuccess=false;
$scope.names=['DataRaptor','OmniScript','ObjectLayout','VlocityUITemplate','VlocityCard','VlocityAction','VlocityUILayout','Integration_Prodecure'];
//file upload start
$scope.filedownloadcheck=function(){
var data = document.getElementById('objjobscons').innerHTML,
        blob = new Blob([data], { type: 'text/plain' }),
        url = $window.URL || $window.webkitURL;
    $scope.fileUrl = url.createObjectURL(blob);
}
	//file upload end
  $scope.join = function() {
    socket.emit('joined', $scope.chat_input);
  };
socket.on('connect', function(data) {
    socket.emit('join', 'Hello World from client');
 });
  socket.on('broad', function(data) {
  console.log(data);
    $scope.value=data;
	//$state.reload();
	$scope.$apply();
  });
  socket.on('username', function(data) {
  console.log(data);
    $scope.username=data;
	//$state.reload();
	$scope.$apply();
  });
  socket.on('sfdccomslog', function(data) {
  console.log('dsdsdsd',data);
  if(data)
    $scope.sfdccon+='\n'+'<br/>'+data;
	//$state.reload();
	document.getElementById('sfdccons').innerHTML=$scope.sfdccon;
	$scope.$apply();
  });
  socket.on('sfdccoms', function(data) {
  console.log(data);
    $scope.value=data;
	if($scope.value===100){
	$scope.handshakesuccess=true;
	$scope.hnxtstep=true;
	}
	//$state.reload();
	$scope.$apply();
  });
  socket.on('objjobs', function(data) {
  console.log('dsdsdsd',data);
  $scope.objjobscon+='\n'+'<br/>'+data;
  document.getElementById('objjobscons').innerHTML=$scope.objjobscon;
  if(data.match(/Done/g)){
  console.log('scsa',$scope.objjobsconerr)
	if($scope.objjobsconerr==''){
		$scope.objectsuccess=true;
	}
	else{
	$scope.showobjectconlogerr=true;
	$scope.objectsuccess=false;
		console.log('errors are present');
	}
  }
  $scope.$apply();
  });
  socket.on('objjobserr', function(data) {
  console.log('dsdsdsderr',data);
  $scope.objjobsconerr+='\n'+data;
  $scope.$apply();
  });
  socket.on('objjobswar', function(data) {
  //console.log();
  $scope.objjobsconwar+='\n'+data;
  $scope.$apply();
  });
   socket.on('jiraserr', function(data) {
  $scope.jiraerror=data;
  $scope.showjiraError=true;
$scope.showjiraSuccess=false;
  $scope.$apply();
  });
  socket.on('jirasuccess', function(data) {
  $scope.showjiraError=false;
$scope.showjiraSuccess=true;
  $scope.$apply();
  });
  

  $scope.fileContent = '';
        $scope.fileSize = 0;
        $scope.fileName = '';
        $scope.submit = function () {
          var file = document.getElementById("myFileInput").files[0];
          if (file) {
		  console.log(file);
            var aReader = new FileReader();
            aReader.readAsText(file, "UTF-8");
            aReader.onload = function (evt) {
                document.getElementById("myFileInput").innerHTML = evt.target.result;
                $scope.fileContent = aReader.result;
                $scope.fileName = document.getElementById("myFileInput").files[0].name;
        				$scope.fileSize = document.getElementById("myFileInput").files[0].size;
				var temp=JSON.parse(evt.target.result);
				console.log(temp.username);
				$scope.details.username=temp.username;
				$scope.details.password=temp.password;
				$scope.details.clientid=temp.clientid;
				$scope.details.clientsecret=temp.clientsecret;
				$scope.details.env=temp.env;
				$scope.upldtype='Formfilling';
				$scope.$apply();
            }
            aReader.onerror = function (evt) {
                document.getElementById("myFileInput").innerHTML = "error";
                $scope.fileContent = "error";
            }
          }
        }
  
  
  $scope.captureddetails=function(){
	$scope.showhandshakeprogress=true;
	socket.emit('sfdcdetails', $scope.SFDCOrgData);
  }
  $scope.capturedobj=function(){
  $scope.objjobscon='';
  $scope.objjobsconerr='';
  
	socket.emit('sfdcobjdetails', $scope.obj);
  }
  $scope.jiranextstep=function(){

	if($scope.objjobsconerr===''){
		$scope.objectsuccess=true;
	}
	else{
	$scope.showobjectconlogerr=true;
	$scope.objectsuccess=false;
		console.log('errors are present');
	}
  }
  $scope.capturedjira=function(){
	$scope.jra.url="https://"+$scope.jra.domain+".atlassian.net/rest/api/2/issue/"+$scope.jra.issueid+"/transitions";
	socket.emit('jiracheckupdation', $scope.jra);
  }
  $scope.objectnextstep=function(){
  //add content
  }
  });
  
</script>
    </body>
</html>
